@model SGI_Philips.Models.ProductoPhilips

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductoPhilips</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoPhillips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoPhillips)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcionPhillips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcionPhillips)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaPhilips)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaPhilips.categoriaPhilipsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.productoID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productoPhilipsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
