@model SGI_Philips.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costoP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costoP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.backOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.backOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rotacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rotacion.rotacionID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
