@model IEnumerable<SGI_Philips.Models.Rotacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mesesInv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalRotacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mesesInv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalRotacion.totalRotacionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.rotacionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.rotacionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.rotacionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
